@charset "UTF-8";
/* --------------------------------

 * base

 * -------------------------------- */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  color: #3f3f3f;
  font-size: 1.1rem;
  font-family: 'Zen Kaku Gothic New', sans-serif;
  box-sizing: border-box; }

a {
  color: #3f3f3f; }

a:link, a:visited, a:hover, a:focus, a:active {
  text-decoration: none; }

p {
  color: #3f3f3f; }

li {
  display: block; }

a::selection, p::selection, br::selection, div::selection,
h1::selection, h2::selection, h3::selection, h4::selection,
img::selection, span::selection, i::selection, th::selection,
td::selection, main::selection, body::selection {
  background-color: #1e3b80;
  color: #fff; }

/* --------------------------------

 * parts

 * -------------------------------- */
.clearfix::after {
  content: '';
  clear: both; }

.hidden {
  display: none; }

.anchor {
  display: block;
  border: 1rem solid #fff; }

.anchor-document {
  padding: 4rem 0; }

.anchor-detail {
  padding: 5rem 0; }

/* --------------------------------

 * header

 * -------------------------------- */
.header {
  position: fixed;
  padding: 0.7rem 0 0 0;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #fff;
  opacity: .9; }

.header__inner {
  display: block;
  width: 100%;
  padding: 0 0 0.7em 0; }

.header__logo {
  display: inline-block;
  width: 25%; }
  .header__logo a {
    padding: .3rem 50%;
    background: url("../images/2018_新ロゴ.png") top 0.1rem left 0.2rem no-repeat;
    background-size: 5.2rem 1.8rem; }

@media (min-width: 466px) {
  .header__logo a {
    padding: 1rem 50%;
    background: url("../images/2018_新ロゴ.png") top 0.5rem left 0.2rem no-repeat;
    background-size: 9.1rem 3rem; } }

.header__company {
  display: inline-block;
  width: 47%;
  text-align: center;
  vertical-align: middle; }
  .header__company h1 {
    color: #4f6ba8;
    font-size: 1.2rem;
    letter-spacing: .1rem; }
  .header__company p {
    color: #4f6ba8;
    font-weight: bold;
    letter-spacing: .1rem; }

@media (min-width: 466px) {
  .header__company h1 {
    font-size: 1.8rem;
    line-height: 1.8rem; } }

.header__place {
  display: inline-block;
  width: 25%;
  text-align: right;
  vertical-align: middle; }

.header__global-nav {
  display: inline-block;
  width: 1.8rem;
  text-align: center; }
  .header__global-nav a {
    padding: .3rem 50%;
    background: url("../images/home_navy_32px.png") top 0.4rem left 0.1rem no-repeat;
    background-size: 1.25rem 1.25rem; }
    .header__global-nav a:hover, .header__global-nav a:focus {
      background: url("../images/home_black_32px.png") top 0.4rem left 0.1rem no-repeat;
      background-size: 1.25rem 1.25rem; }

@media (min-width: 466px) {
  .header__global-nav {
    width: 2.5rem; } }

@media (min-width: 466px) {
  .header__global-nav a {
    padding: 1rem 50%;
    background: url("../images/home_navy_32px.png") top 0.8rem left 0.1rem no-repeat;
    background-size: 2rem 2rem; } }

@media (min-width: 466px) {
  .header__global-nav a:hover,
  .header__global-nav a:focus {
    background: url("../images/home_black_32px.png") top 0.8rem left 0.1rem no-repeat;
    background-size: 2rem 2rem; } }

/*目次ボタン*/
.header__modal-open {
  display: inline-block;
  padding: .55rem;
  border: 0.1rem solid #4f6ba8;
  width: 3.9rem;
  font-size: 1.1rem;
  font-weight: bold;
  text-align: center;
  color: #4f6ba8;
  background: white;
  cursor: pointer;
  line-height: 1.7rem; }
  .header__modal-open:hover, .header__modal-open:focus {
    border: 0.1rem solid #3f3f3f;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    transition: .1s; }

@media (min-width: 466px) {
  .header__modal-open {
    margin-left: 1rem;
    line-height: 1.8rem;
    font-size: 1.2rem; } }

/*ぱんくずリスト*/
.header__breadcrumb {
  margin: 0;
  padding: 0.4rem .3rem .6rem .3rem;
  list-style: none;
  background: #1e3b80;
  overflow: hidden; }
  .header__breadcrumb li {
    position: relative;
    display: inline;
    padding-left: 1.5rem;
    list-style: none;
    vertical-align: middle; }
    .header__breadcrumb li:after {
      content: '>';
      position: absolute;
      padding: 0 .2rem;
      color: #ffffffd8;
      font-size: 1.4rem;
      line-height: 1.3rem; }
    .header__breadcrumb li:last-child:after {
      content: ''; }
    .header__breadcrumb li a {
      color: #ffffffd8;
      font-size: 1.4rem;
      line-height: 1.4rem;
      text-decoration: none; }
      .header__breadcrumb li a:hover, .header__breadcrumb li a:focus {
        font-weight: bold; }

/* --------------------------------

 * wrapper

 * -------------------------------- */
.wrapper {
  display: block;
  padding: .5rem;
  background-color: #fff; }

@media (min-width: 466px) {
  .wrapper {
    padding: 1.5rem;
    margin: 0 10rem; } }

.interval {
  padding: 4rem 0; }

.interval-bit {
  padding: 1rem 0; }

.paragraph {
  padding-left: 1.85rem; }

@media (min-width: 466px) {
  .paragraph {
    padding-left: 2.1rem; } }

/* --------------------------------

 * modal window

 * -------------------------------- */
/*モーダル本体の指定 + モーダル外側の背景の指定*/
.modal-container {
  position: fixed;
  padding: 3rem 2rem;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  transition: .3s;
  font-size: .95rem;
  box-sizing: border-box;
  /*モーダル本体の擬似要素の指定*/
  /*モーダル本体に「active」クラス付与した時のスタイル*/ }
  .modal-container:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%; }
  .modal-container.active {
    opacity: 1;
    visibility: visible; }

/*モーダル内のコンテンツの指定*/
.modal-container__body--content {
  padding: 0.5rem;
  background: #fff;
  text-align: left;
  /*モーダル枠のタイトル*/ }
  .modal-container__body--content h2 {
    padding: 0 0 .3rem 0;
    border-bottom: 0.1rem solid #3f3f3f;
    margin-bottom: .2rem;
    width: 30%;
    text-align: center;
    font-size: 1.2rem; }

@media (min-width: 466px) {
  .modal-container__body--content h2 {
    width: 17%;
    font-size: 1.4rem; } }

/*モーダル枠の指定*/
.modal-container__body {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 95%;
  max-width: 42rem; }

/*モーダルを閉じるボタンの指定*/
.modal-container__body--close {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -2.6rem;
  right: 0;
  width: 2rem;
  height: 2rem;
  font-size: 2.3rem;
  font-weight: bold;
  color: #fff;
  cursor: pointer; }
  .modal-container__body--close:hover, .modal-container__body--close:focus {
    color: #cecccc;
    transition: .1s; }

/* --------------------------------

 * main

 * -------------------------------- */
.main {
  padding: 0 0;
  margin: auto;
  width: 100%; }
  .main .img-magnification {
    border: .2rem solid #c0c4ce;
    width: 50%; }

@media (min-width: 466px) {
  .main .img-magnification {
    width: 20%; } }

.main--title {
  padding: .8rem;
  margin-bottom: 1.3rem;
  width: 100%;
  background-color: #f9f9fa; }
  .main--title h2 {
    font-size: 2rem;
    text-align: left; }
  .main--title p {
    padding: .4rem 0 0 0;
    margin: .2rem 0;
    font-size: 1.6rem;
    text-align: left;
    line-height: 1.9rem; }

@media (min-width: 466px) {
  .main--title {
    padding: 1.5rem; } }

@media (min-width: 466px) {
  .main--title h2 {
    font-size: 2.5rem; } }

@media (min-width: 466px) {
  .main--title p {
    font-size: 1.7rem; } }

.content-container__commentary_test {
  padding: 0 0 0 1.3rem;
  margin: 0 0 0 .4rem;
  color: #641685;
  background: url("../images/feather-pen_16px.png") left 0rem top 0.5rem no-repeat;
  font-size: 1.4rem; }
  .content-container__commentary_test:hover, .content-container__commentary_test:focus {
    font-weight: bold; }

@media (min-width: 466px) {
  .content-container__commentary_test {
    padding: 0 0 0 1.3rem;
    margin: 0 0 0 1rem;
    font-size: 1.6rem; } }

.title-color-main {
  border-left: solid .9rem #23aed0;
  color: #18768d; }

.title-color-category {
  border-left: solid .9rem #54cc22;
  color: #337b15; }

.title-color-document {
  border-left: solid .9rem #dd8d54;
  color: #dd8d54; }

.title-color-detail {
  border-left: solid .9rem #f0b5ba;
  color: #a87f83; }

.title-color-test {
  border-left: solid .9rem #641685;
  color: #641685; }

.table-of-contents h2 {
  padding: 1.6rem 0; }

.title-description {
  font-size: 1.4rem;
  line-height: 2.5rem; }

@media (min-width: 466px) {
  .title-description {
    font-size: 1.6rem; } }

/* --------------------------------

 * table of contents

 * -------------------------------- */
.article-container {
  display: inline-block;
  padding: .1rem 0;
  width: 100%;
  background-color: #fff;
  vertical-align: middle; }

@media (min-width: 466px) {
  .article-container {
    padding: 1rem 0; } }

.article ul {
  display: block;
  list-style: none; }

.article a {
  display: block;
  padding: 1.3rem 2rem 1.3rem 3.6rem;
  line-height: 1.8rem;
  font-size: 1.6rem;
  letter-spacing: .3rem; }
  .article a:hover, .article a:focus {
    font-weight: bold; }

.article p {
  padding: .1rem 0 0 0;
  margin: 0 0 0 3.6rem;
  font-size: 1.4rem;
  letter-spacing: .1rem;
  line-height: 2rem; }

.article li {
  border: 0.1rem solid #fff;
  margin: 1rem 0; }

@media (min-width: 466px) {
  .article a {
    font-size: 1.7rem; } }

@media (min-width: 466px) {
  .article p {
    font-size: 1.5rem; } }

.article-main li {
  background: url("../images/矢印ボタン_rightblue_16px.png") left 0 top 1.34rem no-repeat; }

.article-main a {
  font-weight: bold;
  color: #18768d; }
  .article-main a:hover, .article-main a:focus {
    color: #23aed0; }

@media (min-width: 466px) {
  .article-main li {
    background: url("../images/矢印ボタン_rightblue_16px.png") left 0 top 1.4rem no-repeat; } }

.article-category li {
  background: url("../images/矢印ボタン_green_16px.png") left 0 top 1.4rem no-repeat; }

@media (min-width: 466px) {
  .article-category li {
    background: url("../images/矢印ボタン_green_16px.png") left 0 top 1.35rem no-repeat; } }

.article-category a {
  font-weight: bold;
  color: #337b15; }
  .article-category a:hover, .article-category a:focus {
    color: #54cc22; }

.contents-list {
  margin: 0 0 0 .1rem;
  color: #3f3f3f; }
  .contents-list a {
    line-height: 2.5rem; }
    .contents-list a:hover, .contents-list a:focus {
      font-weight: bold;
      color: #556b9f; }
  .contents-list p {
    padding: .8rem .8rem .8rem 2.4rem;
    margin: 0 0 0 0;
    line-height: 2rem;
    font-size: 1.4rem; }
  .contents-list span {
    font-weight: 600; }
  .contents-list > span {
    line-height: 1.7rem;
    font-size: 1.7rem; }
  .contents-list > a {
    margin: 0 0 0 .3rem;
    font-size: 1.7rem; }

@media (min-width: 466px) {
  .contents-list a {
    line-height: 2.8rem; } }

@media (min-width: 466px) {
  .contents-list p {
    padding: .8rem .8rem .8rem 2.85rem;
    font-size: 1.6rem;
    line-height: 2.5rem; } }

@media (min-width: 466px) {
  .contents-list > span {
    line-height: 2rem;
    font-size: 2rem; } }

@media (min-width: 466px) {
  .contents-list > a {
    font-size: 2rem; } }

.contents-list-document span {
  color: #dd8d54; }

.article-container--contents-list-detail span {
  color: #b8777e; }

.contents-list__ul {
  margin: 0 0 0 2.4rem; }
  .contents-list__ul span {
    line-height: 1.5rem;
    font-size: 1.4rem; }
  .contents-list__ul a {
    margin: 0 0 0 .35rem;
    font-size: 1.4rem; }
  .contents-list__ul li {
    padding: 0 0 0 .7rem;
    margin: 0 0 0 1rem; }

@media (min-width: 466px) {
  .contents-list__ul {
    margin: 0 0 0 2.8rem; } }

@media (min-width: 466px) {
  .contents-list__ul span {
    font-size: 1.6rem; } }

@media (min-width: 466px) {
  .contents-list__ul a {
    font-size: 1.6rem; } }

@media (min-width: 466px) {
  .contents-list__ul li {
    margin: 0 0 0 1.6rem; } }

/* --------------------------------

 * contents

 * -------------------------------- */
.content-container > h4 {
  padding: 0.9rem 0;
  font-size: 1.6rem;
  line-height: 2.7rem;
  color: #556b9f; }

.content-container > p {
  margin: .2rem 0 0 2.2rem;
  font-size: 1.4rem;
  line-height: 2.3rem; }

.content-container > .img-magnification {
  margin: 1rem 0 1rem 2.5rem; }

@media (min-width: 466px) {
  .content-container > h4 {
    font-size: 1.8rem; } }

@media (min-width: 466px) {
  .content-container > p {
    font-size: 1.6rem; } }

@media (min-width: 466px) {
  .content-container__commentary {
    margin-left: 1rem; } }

.content-container__commentary > .img-magnification {
  margin: 1rem 0 1rem 2.9rem; }

.content-container__commentary p {
  font-size: 1.4rem;
  line-height: 2.2rem; }

@media (min-width: 466px) {
  .content-container__commentary > .img-magnification {
    margin: 1rem 0 1rem 3.3rem; } }

@media (min-width: 466px) {
  .content-container__commentary p {
    font-size: 1.6rem; } }

.img-scaling {
  padding: 1rem 2rem; }

.img-scaling-document {
  background: url("../images/serch_orange_32px.png") left 1rem top 0 no-repeat;
  background-size: 45% 55%; }
  .img-scaling-document:hover, .img-scaling-document:focus {
    background: url("../images/serch2_darkorange_32px.png") left 1rem top 0 no-repeat;
    background-size: 45% 55%; }

@media (min-width: 466px) {
  .img-scaling-document {
    background-size: 60% 67%; } }

@media (min-width: 466px) {
  .img-scaling-document:hover,
  .img-scaling-document:focus {
    background-size: 60% 67%; } }

.img-scaling-detail {
  background: url("../images/serch_pink_32px.png") left 1rem top 0 no-repeat;
  background-size: 45% 55%; }
  .img-scaling-detail:hover, .img-scaling-detail:focus {
    background: url("../images/serch2_darkpink_32px.png") left 1rem top 0 no-repeat;
    background-size: 45% 55%; }

@media (min-width: 466px) {
  .img-scaling-detail {
    background-size: 60% 67%; } }

@media (min-width: 466px) {
  .img-scaling-detail:hover,
  .img-scaling-detail:focus {
    background-size: 60% 67%; } }

.content-container__commentary--subheading {
  padding-left: 2.1rem;
  margin: 1.4rem 0 .8rem 1rem;
  font-size: 1.4rem;
  background: url("../images/矢印ボタン_gray_16px.png") left 0.7rem top 0.2rem no-repeat; }

@media (min-width: 466px) {
  .content-container__commentary--subheading {
    margin: 1.8rem 0 .5rem 1rem;
    font-size: 1.6rem;
    background: url("../images/矢印ボタン_gray_16px.png") left 0.4rem top 0.4rem no-repeat; } }

.content-container__commentary--subheading-link-document {
  background: url("../images/矢印ボタン_orange_16px.png") left 0.6rem top 0.3rem no-repeat; }
  .content-container__commentary--subheading-link-document > a:hover,
  .content-container__commentary--subheading-link-document > a:focus {
    font-weight: bold;
    color: #556b9f; }

@media (min-width: 466px) {
  .content-container__commentary--subheading-link-document {
    background: url("../images/矢印ボタン_orange_16px.png") left 0.35rem top 0.4rem no-repeat; } }

.content_commentary_a {
  color: #b8777e;
  text-shadow: 0 0 .1rem #543648; }
  .content_commentary_a:hover, .content_commentary_a:focus {
    font-weight: bold; }

.content_commentary_p {
  margin-left: 2rem; }

@media (min-width: 466px) {
  .content_commentary_p {
    margin-left: 2rem; } }

.content-container__commentary--para1 {
  margin-left: 2.75rem; }
  .content-container__commentary--para1 > .img-magnification {
    margin: 1rem 1rem .5rem 1.9rem; }

@media (min-width: 466px) {
  .content-container__commentary--para1 {
    margin-left: 3.1rem; } }

.content-container__commentary--para1-title {
  margin-top: 1.95rem;
  margin-bottom: .75rem;
  margin-left: 1.3rem; }

@media (min-width: 466px) {
  .content-container__commentary--para1-title {
    margin-left: 1.3rem; } }

@media (min-width: 466px) {
  .content-container__commentary--para1 > .img-magnification {
    margin: 1rem 1rem .5rem 1.9rem; } }

.content-container__commentary--para2 {
  margin-left: 2.9rem; }
  .content-container__commentary--para2 p > span {
    padding: .5rem;
    background: url("../images/新規登録.png") left 0 top 0.6rem no-repeat; }
  .content-container__commentary--para2 > .img-magnification {
    margin: 1rem 1rem .5rem 1.9rem; }

@media (min-width: 466px) {
  .content-container__commentary--para2 {
    margin-left: 3.4rem; } }

.content-container__commentary--para2-title {
  margin-top: .9rem;
  margin-bottom: .5rem;
  margin-left: 1.5rem; }

@media (min-width: 466px) {
  .content-container__commentary--para2-title {
    margin-left: 1.8rem; } }

@media (min-width: 466px) {
  .content-container__commentary--para2 > .img-magnification {
    margin: 1rem 1rem .5rem 1.9rem; } }

.content-container__commentary--para3 {
  margin-left: 2.8rem; }
  .content-container__commentary--para3 > .img-magnification {
    margin: 1rem 1rem .5rem 1.9rem; }

@media (min-width: 466px) {
  .content-container__commentary--para3 {
    margin-left: 3.7rem; } }

.content-container__commentary--para3-title {
  margin-top: .5rem;
  margin-bottom: .3rem;
  margin-left: 1.4rem; }

@media (min-width: 466px) {
  .content-container__commentary--para3-title {
    margin-left: 2.1rem; } }

.content-container__commentary--para4 {
  margin-top: .3rem;
  margin-bottom: .3rem;
  margin-left: 2.8rem; }
  .content-container__commentary--para4 > .img-magnification {
    margin: 1rem 1rem .5rem .1rem; }

@media (min-width: 466px) {
  .content-container__commentary--para4 {
    margin-left: 3.2rem; } }

.content-container__commentary--para4-title {
  margin-top: .5rem;
  padding-left: 1.4rem; }

@media (min-width: 466px) {
  .content-container__commentary--para4-title {
    padding-left: 1.6rem; } }

.movie {
  padding: 1rem 3rem;
  background: url("../images/movie_32px.png") left 0 top 0 no-repeat; }
  .movie:hover, .movie:focus {
    background: url("../images/movie_48px.png") left 0 top -0.5rem no-repeat; }

.content_movie {
  margin: 1rem 1rem 1rem 2.3rem; }

@media (min-width: 466px) {
  .content_movie {
    margin: 1rem 1rem 1rem 2.5rem; } }

/* -------------------------------

 * footer

/* -------------------------------*/
.footer {
  margin: 7rem 0 0 0rem; }

.footer__p {
  padding: 1rem .7rem 1.8rem .8rem;
  width: 100%;
  font-size: 1.4rem;
  line-height: 1.4rem;
  color: #4f6ba8; }

@media (min-width: 466px) {
  .footer__p {
    font-size: 1.6rem;
    line-height: 2.5rem; } }

.footer__div {
  display: flex;
  align-items: center; }
  .footer__div::before {
    content: '';
    height: .05rem;
    background-color: #4f6ba8;
    flex-grow: 4; }
  .footer__div::after {
    content: '';
    height: .05rem;
    background-color: #4f6ba8;
    flex-grow: 1; }

.footer__div--copyright {
  padding: 1.5rem;
  text-align: center;
  letter-spacing: .1rem;
  font-size: 1.2rem; }
